{% extends "base.html" %}

{% block title %}One Time Donation{% endblock %}

{% block content %}

<form action="/donations/one_time_confirmation" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_key }}"
    data-amount="{{ donation.amount_in_cents }}"
    data-name="Lancaster Cemetery"
    data-description="One Time Donation"
    data-locale="auto"
    data-zip-code="true"
    data-billing-address="true"
    data-email="{{ donation.contributor.email }}">
  </script>
  <input type="hidden" name="order_id" value="{{ donation.guid }}"/>
</form>

{% endblock %}
