{% extends "base.html" %}

{% block title %}One Time Donation{% endblock %}

{% block content %}

<form action="/donations/one_time" method="post">
  {% csrf_token %}
  <!--
  <table>
    {{ form.as_table }}
  </table>
  -->
  {{ form.non_field_errors }}

  <h3>About You</h3>
  <div class="fieldWrapper">
    {{ form.name.errors }}
    <label for="{{ form.name.id_for_label }}">Your Name:</label>
    {{ form.name }}
  </div>

  <div class="fieldWrapper">
    <p>
      We'll use your email address to send you a receipt, and you can
      look up a record of all your donations with this address.
    </p>
    {{ form.email.errors }}
    <label for="{{ form.email.id_for_label }}">Your Email:</label>
    {{ form.email }}
  </div>

  <h3>Your Address</h3>
  <p>
    We're a non-profit organization, and your donation is tax
    deductible.  We'll use your address to send you a letter to use
    while filing your taxes.
  </p>
  <div>
    {{ form.address1.errors }}
    <label for="{{ form.address1.id_for_label }}">Address Line 1:</label>
    {{ form.address1 }}
  </div>
  <div>
    {{ form.address2.errors }}
    <label for="{{ form.address2.id_for_label }}">Address Line 2:</label>
    {{ form.address2 }}
  </div>
  <div>
    {{ form.city.errors }}
    <label for="{{ form.city.id_for_label }}">City:</label>
    {{ form.city }}
  </div>
  <div>
    {{ form.state.errors }}
    <label for="{{ form.state.id_for_label }}">State:</label>
    {{ form.state }}
  </div>
  <div>
    {{ form.postal_code.errors }}
    <label for="{{ form.postal_code.id_for_label }}">ZIP Code:</label>
    {{ form.postal_code }}
  </div>

  <h3>Your Donation</h3>
  <div>
    {{ form.amount.errors }}
    <label for="{{ form.amount.id_for_label }}">Donation Amount:</label>
    {{ form.amount }}
  </div>
  <div>
    {{ form.purpose.errors }}
    <label for="{{ form.purpose.id_for_label }}">Donation Purpose:</label>
    {{ form.purpose }}
  </div>
  <input type="submit" value="Submit">
</form>

{% endblock %}
