{% extends "base.html" %}

{% block content %}

<div id="interment">
  <h2>{{ interment.name }}</h2>

  <table class="table">
    <tr>
      <th scope="row">Family Name</th>
      <td>{{ interment.family_name }}</td>
    </tr>
    <tr>
      <th scope="row">Full Name</th>
      <td>{{ interment.name }}</td>
    </tr>
    {% if interment.birth_date %}
    <tr>
      <th scope="row">Birth Date</th>
      <td>{{ interment.birth_date }}</td>
    </tr>
    {% endif %}
    {% if interment.death_date %}
    <tr>
      <th scope="row">Death Date</th>
      <td>{{ interment.death_date }}</td>
    </tr>
    {% endif %}
    {% if interment.age %}
    <tr>
      <th scope="row">Age</th>
      <td>{{ interment.age }}</td>
    </tr>
    {% endif %}
    {% if interment.interment_date %}
    <tr>
      <th scope="row">Interment Date</th>
      <td>{{ interment.interment_date }}</td>
    </tr>
    {% endif %}
    {% if interment.disinterment_date %}
    <tr>
      <th scope="row">Disinterment Date</th>
      <td>{{ interment.disinterment_date }}</td>
    </tr>
    {% endif %}
    <tr>
      <th scope="row">Lot</th>
      <td>{{ interment.lot.name }}</td>
    </tr>
    <tr>
      <th scope="row">Notes</th>
      <td>{{ interment.notes }}</td>
    </tr>
  </table>

  <h3>Lot Neighbors</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Birth</th>
        <th>Death</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>
      {% for n in neighbors %}
      <tr>
        <td>{{ n.name }}</td>
        <td>{{ n.birth_date }}</td>
        <td>{{ n.death_date }}</td>
        <td><a href="../{{ n.id }}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Monuments</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>
      {% for m in monuments %}
      <tr>
        <td>{{ m.id }}</td>
        <td><a href="/monuments/monument/{{ m.id }}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Images</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Image</th>
        <th>Metadata</th>
      </tr>
    </thead>
    <tbody>
      {% for i in interment.images.all %}
      {% if i.thumb.name %}
      <tr>
        <td><a href="{{ i.full.url }}"><img src="{{ i.thumb.url }}"/></a></td>
        <td>
          <ul>
            <li>Capture Time: {{ i.capture_time }}</li>
            <li>Upload Time: {{ i.upload_time }}</li>
            <li>Caption: {{ i.caption }}</li>
          </ul>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h3>Audit Log</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Author</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for hi in interment.history.all %}
      <tr>
        <td>{{ hi.history_date }}</td>
        <td>{{ hi.history_user }}</td>
        <td>{{ hi.history_change_reason }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ json|json_script:"json" }}

  <div id="IntermentView"></div>
{% endblock %}

{% block pagejavascript %}
  <script src="/static/js/elm/IntermentView.elm.js"></script>
  <script>
    var intermentView = Elm.IntermentView.init({node: document.getElementById("IntermentView"),
                                                flags: "",
                                               });

</script>
{% endblock %}
