{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="elmIntermentSearch"></div>

{% endblock %}

{% block pagejavascript %}
<script src="{% static 'js/elm/IntermentSearch.elm.js' %}"></script>
<script>

  // var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
  // var intermentSearch = Elm.IntermentSearch.init({node: document.getElementById("elmIntermentSearch"),
  //                                                 flags: csrfmiddlewaretoken
  //                                                });
  var intermentSearch = Elm.IntermentSearch.init({node: document.getElementById("elmIntermentSearch"),
                                                  flags: "",
                                                 });
</script>

{% endblock %}
