{% extends "base.html" %}

{% block content %}

<form id="lot_search_form" onsubmit="return false;">
  <input id="lot_search" name="lot_search" class="form-control form-control-lg" type="text" placeholder="Interment Search">
  {% csrf_token %}
</form>

<table class="table" id="search_results">
  <thead>
    <tr>
      <th>Family Name</th>
      <th>Name</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{% endblock %}

{% block pagejavascript %}
<script>
  var rd = false;

  function processSearchResponse(data){
      console.log(data);
      rd = data;
      var tb = $("#search_results tbody");
      tb.empty();
      data.forEach(function(item, index) {
          tb.append("<tr><td>" + item['family_name'] + "</td><td>" + item['name'] + "</td><td><a href=\"/interments/interment/" + item['interment_id'] + "/\">View</a></td></tr>");
      });
  }

  $("#lot_search_form").submit(function(event) {
      console.log("1");
      var fd = {
          "lot_search": $("#lot_search")[0].value,
          "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']")[0].value
      };
      $.ajax({
          url: $(this).attr("action"),
          data: fd,
          // processData: false,
          type: 'POST',
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          dataType: "json",
          success: processSearchResponse
      });
      return false;
  })
</script>

{% endblock %}
