{% extends "base.html" %}

{% block content %}

<div id="monument">
  <h2>Monument {{ monument.id }} Details</h2>

  <table class="table">
    <tr>
      <th scope="row">Name</th>
      <td>{{ monument.name }}</td>
    </tr>
    <tr>
      <th scope="row">Inscription</th>
      <td>{{ monument.inscription }}</td>
    </tr>
    <tr>
      <th scope="row">Materials</th>
      <td>
        <ul>{% for ma in monument.materials.all %}
          <li>{{ ma.name }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Type</th>
      <td>{{ monument.monument_type }}</td>
    </tr>
    <tr>
      <th scope="row">Notes</th>
      <td>{{ monument.notes }}</td>
    </tr>
  </table>

  <h3>Lots</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Lot</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>
      {% for l in lots %}
      <tr>
        <td>{{ l.name }}</td>
        <td><a href="/lots/lot/{{ l.id }}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Interments</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Birth</th>
        <th>Death</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>
      {% for i in monument.interments.all %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.birth_date }}</td>
        <td>{{ i.death_date }}</td>
        <td><a href="/interments/interment/{{ i.id }}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Documents</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Birth</th>
        <th>Death</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>
      {% for d in monument.documents.all %}
      <tr>
        <td>{{ d.name }}</td>
        <td>{{ d.birth_date }}</td>
        <td>{{ d.death_date }}</td>
        <td><a href="/interments/interment/{{ d.id }}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <h3>Images</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Image</th>
        <th>Metadata</th>
      </tr>
    </thead>
    <tbody>
      {% for i in monument.images.all %}
      {% if i.thumb.name %}
      <tr>
        <td><a href="{{ i.full.url }}"><img src="{{ i.thumb.url }}"/></a></td>
        <td>
          <ul>
            <li>Capture Time: {{ i.capture_time }}</li>
            <li>Upload Time: {{ i.upload_time }}</li>
            <li>Caption: {{ i.caption }}</li>
          </ul>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
