{% extends "base.html" %}
{% load static i18n %}

{% block pagecss %}
    <link href="{% static 'css/maps.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center">
      <form>
        <input type="text" id="lotinput"/><input type="button" value="Highlight Lot" onclick="requestLotHighlight();"/>
      </form>
    </div>
<div id="map" class="map-container"></div>

{% endblock %}
{% block pagejavascript %}

<script src="https://d3js.org/d3.v5.js"></script>
<script src="/static/js/maps.js"></script>
<script>
  initializeMap("{{ object.svg.url }}");
</script>

{% endblock %}
