{% extends "base.html" %}

{% block content %}
<h1>Lancaster Cemetery Lot Plot</h1>

<h2><a href="{% url 'interments:search' %}">Search Interments by Name</a></h2>
<h2><a href="{% url 'interments:search_by_lot' %}">Search Interments by Lot</a></h2>

{% endblock %}
