div.container {
  max-width: none;
}

path {
  display:inline;
  fill:#fff;
  opacity:0.5;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  stroke-width:1px;
  stroke:#aaaaaa;
}

path.highlight {
  fill: #0FF;
  stroke: #0FF;
}
